---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Dispatch-d.">
	<main>
		<h1>Welcome to <a href="/test" class="text-gradient">Dispatch-d</a></h1>
		<p class="instructions">
			Dispatch - Decentralised
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="./roadmap/"
				title="Roadmap"
				body="Learn what the plan is for the future."
			/>
			<Card
				href="./about/"
				title="About"
				body="Learn whom makes this."
			/>
			<Card
				href="https://github.com/dispatch-d/web"
				title="Code"
				body="See the code for this page being developed."
			/>
			<Card
				href="https://github.com/dispatch-d/paper"
				title="Whitepaper"
				body="See how this site will work in the future"
			/>
		</ul>
	</main>
</Layout>
