---
import Layout from "../layouts/Layout.astro";
import Maker from "../components/Maker.astro";
import "../styles/global.css";
---

<Layout title="Roadmap of Dispatch-d.">
	<main>
		<h1>The roadmap of <a href="../" class="text-gradient">Dispatch-d</a></h1>
		<p class="instructions">
			Where do we go?
		</p>
		<ul role="list">
            <li>First, we will write the backend server</li>
	    <li>After that, we will build the frontend</li>
		<li>Then, we will build the example website</li>
	</main>
</Layout>